.r-01{
  width: 10%;
}

.r-02{
  width: 20%;
}

.r-03{
  width: 30%;
}

.r-04{
  width: 40%;
}

.r-05{
  width: 50%;
}

.r-06{
  width: 60%;
}

.r-07{
  width: 70%;
}

.r-08{
  width: 80%;
}

.r-09{
  width: 90%;
}

.r-10{
  width: 100%;
}