@import 'common/variables';

@import "./flexgrid/rows";
@import "./flexgrid/row-elements";
@import "./common/container";
@import './common/container-padding';

html{
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

#app{
    height: 100vh;
}

a{
    text-decoration: none;
}
