$neutral-color: #f1f1f1;
$neutral-darkend: #181818;

$primar-color: #EFBE67;
$primary-darkend: #9C671C;

$danger-color: #EFBE67;
$danger-darkend: #9C671C;

$warn-color: #EFBE67;
$warn-darkend: #9C671C;

$save-color: #E33E67;
$save-darkend: #9C331C;

$secondary-color: #526A8B;
$secondary-darkend: #15345E;