$neutral-color: #f1f1f1;
$neutral-darkend: #181818;

$primar-color: #1F92EA;
$primary-darkend: #0C4F83;

$danger-color: #CD4631;
$danger-darkend: #832D20;

$warn-color: #EAC435;
$warn-darkend: #A68611;

$save-color: #62BC92;
$save-darkend: #2B6449;

$secondary-color: #82886D;
$secondary-darkend: #575B49;